

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1640px;
    height: 480px;
    background-color: #000000;
}

.footer-box {
    display: flex;
    width: 930px;
    margin: 40px auto 36px;

}

.footer-box h4 {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #FFFFFF;
    white-space: nowrap;
}

.deposit-menu li, .language li, .information li {
    margin: 0 0 8px;
}
.deposit-menu, .language-1, .language-2, .information ul, .contact-group {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    white-space: nowrap;
}
.footer-box li a {
    text-decoration: none;
}
.footer-box li a, .contact-group li {
    color: #AAAAAA;
}

.deposit {
    width: 117px;
    margin-right: 131px;
}

.site-language {
    width: 189px;
    margin-right: 69px;
}
.language {
    display: flex;
}
.site-language .language-1 {
    margin-right: 24px;
}

.information {
    width: 173px;
    margin-right: 75px;
}


.information ul {
    margin-bottom: 24px;
}
.app {
    display: flex;
    margin-bottom: 24px;
    font-size: 15px;
    color:#D2D2D2;
}

.app-iphone {
    height: 30px;
    font-size: 10px;
    line-height: 11px;
}
    
.app-google {
    height: 27px;
    font-size: 11px;
    line-height: 13px;
}
.app span {
    font-weight: 700;
    font-size: 200%s;
}

.app img {
    margin-right: 10px;
    width: 29px;
    height: 29px;
    object-fit: cover;
}
.app span {
    font-size: 11px;
}

.bird {
    display: flex;
    flex-direction: column;
}
.bird img {
    width: 108px;
    height: 11px;
    object-fit: cover;
}
.contact-group li {
    display: flex;
    align-items: center;
}

.support img {
    display: block;
    margin-right: 16px;
    width: 15px;
    height: 15px;
    object-fit: cover;
}
.support ul {
    margin-bottom: 36px;
}
.support ul:last-child {
    margin-bottom: 46px;
}

.nets {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
.nets img {
    display: inline-block;
    margin-right: 40px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.nets img:last-child {
    margin-right: 0;
}

.text-footer {
    margin-bottom: 24px;
    text-align: center;
    font-size: 12px;
    color: #AAAAAA;
}